---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
	url?: string; 
}

const  {
	title = "Edwin Cala | Desarrollador Web",
	description = "Portafolio de desarrollador web con proyectos en Python, Java, React y Machine Learning",
	url = "https://dev-portfolio-edwin-cala.vercel.app/",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="author" content="Edwin Cala" />
		<meta name="robots" content="index, follow" />
		 <!-- Open Graph -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:image" content={`${url}/og-image.png`} />

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={`${url}/og-image.png`} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>